.env
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
*.log
instance/
models/*.pt
models/*.onnx
models/*.h5
models/*.pth
.idea/
.vscode/

# frontend
node_modules/
frontend/dist/
npm-debug.log*


/docs/car.zip   

test-model
dent-detection
scripts